<p>Formulario</p>
<div class="card">
    <div class="card-body">
        <form #productsForm="ngForm">
            <div class="row">
                <div class="col-lg-6">
                    <label for="txtCodigo" class="form-label">Código</label>
                    <input type="number" id="txtCodigo" name="codigo" class="form-control" [(ngModel)]="productsService.selectedProduct.codigo">
                </div>
                <div class="col-lg-6">
                    <label for="txtTipo_prenda" class="form-label">Tipo de Prenda</label>
                    <input type="text" id="txtTipo_prenda" name="tipo_prenda" class="form-control" [(ngModel)]="productsService.selectedProduct.tipo_prenda">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label for="txtTalla" class="form-label">Talla</label>
                    <input type="number" id="txtTalla" name="talla" class="form-control" [(ngModel)]="productsService.selectedProduct.talla">
                </div>
            </div>
            <div class="row mb-3" >
                <div class="col-lg-6">
                    <label for="txtMarca" class="form-label">Marca</label>
                    <input type="text" id="txtMarca" name="marca" class="form-control" [(ngModel)]="productsService.selectedProduct.marca">
                </div>
                <div class="col-lg-6">
                    <label for="txtColor" class="form-label">Color</label>
                    <input type="text" id="txtColor" name="color" class="form-control" [(ngModel)]="productsService.selectedProduct.color">
                </div>
            </div>
            <div class="row mb-3" >
                <div class="col-lg-6">
                    <label for="txtPrecio" class="form-label">Precio</label>
                    <input type="number" id="txtPrecio" name="precio" class="form-control" [(ngModel)]="productsService.selectedProduct.precio">
                </div>
                <div class="col-lg-6">
                    <label for="txtExistencias" class="form-label">Existencias</label>
                    <input type="number" id="txtExistencias" name="existencias" class="form-control" [(ngModel)]="productsService.selectedProduct.existencias">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <button *ngIf="productsService.update==false" class="btn btn-primary" (click)="addProduct(productsForm)">Guardar</button>
                    <button *ngIf="productsService.update==true" class="btn btn-warning" (click)="updateProduct(productsForm)">Actualizar</button>
                </div>
            </div>
        </form>
    </div>
</div>